body{
    font-family: 'Cormorant', serif;
}
.navbar h1{
    display: inline-block;
    font-size: 32px;
    font-weight: 100;
    margin-left: 32px;
    margin-top: 32px;
}
.menu{
    display: inline-block;
}
.menu li{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    color: black;
    margin: 0 8px ;
    font-size: 20px;
}
.link{
    border-bottom: 1px solid black;
}
.menu ul{
    padding: 0;
    margin-left: 32px;
}
.card{
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 20px ;
    padding: 18px;
    margin-bottom: 0;

}
.card img{
    height: 500px;
    width: 100%;
    display: inline-block;
    object-fit: cover;
}
.card img:hover{
    opacity: 80%;
}
.card h2{
    font-weight: 300;
    font-size: 25px;
    margin: 8px 0 0 0;
    display: inline-block;
}
.gallery{
    margin: 16px;
}
.about{
    width: 40%;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 100px;
}
.about h3{
    font-size: 40px;
    font-weight: 200;
}
.cta{
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}
.contact{
    margin-top: 100px;
    font-size: 20px;

}
.contact p{
    margin: 0;
}
@media only screen and (max-width: 1460px){
    .card{
        width: 100%;
        object-fit: cover;
    }
}
@media only screen and (max-width: 1000px){
    .card{
        object-fit: cover;
        padding: 0;
    }
    .about{
        width: 70%;
        margin: 100px auto ;
    }
}
@media only screen and (max-width: 500px){
    .card{
        padding: 0;
    }
    .card img {
        width: 100%; /* Set the width to 100% to make the images full-width */
        height: auto; /* Allow the height to adjust proportionally */
    }
    .gallery{
        padding: 8px;
        width: 100%;
    }
    .about{
        min-width: 420px;
        margin: 100px auto;
    }
}
