body{
    font-family: Space Mono;
    line-height: 1;
}

h1{
    font-size: 100px;
    font-weight: 400;
}

h2{
    font-size: 50px;
    font-weight: 400;
}


p{
    font-size: 20px;
    text-transform: capitalize;
}


span{
    color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

div{
    width: 60%;
    margin-left: 200px;
    margin-top: 200px ;
}

@media only screen and (max-width: 1650px){
    div{
        width: 70%;
    }
}
@media only screen and (max-width: 1400px){
    div{
        width: 75%;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1200px){
    div{
        width: 90%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
    }
    h1{
        font-size: 4rem;
    }

}
