body {
  font-family: "Poppins", sans-serif;
}
.container{
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}
.bar{
  display: none;
}
.line1,
.line2,
.line3{
  background-color: black;
  height: 4px;
  width: 36px;
  display: flex;
  justify-content: space-between;
  margin: 4px;
  align-items: center;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}
.left p{
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}
.right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right a{
  color: black;
  text-decoration: none;
}
.right a:hover{
  text-decoration: underline;
}
.navbar .right img{
  height: 24px;
  width: 24px;
}
.sliding{
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
  right: -160px;
  padding: 16px;
  transition: all 0.5s;

}
.sliding img{
  width: 24px;
  height: 24px;
}
.sliding a{
  margin: 16px 0;
  text-decoration: none;
  color: black;
}
.drawer{
  transform: translateX(-160px);
}
.images{
  display: grid;
  grid-template-areas: "eth eth alphabet"
                       "eth eth traveler"
                       "astro cube traveler"
                       "astro cube traveler"
                       "cup insta insta"
                       "cup insta insta"
                       "foam foam dimensional"
                       "foam foam dimensional";
  grid-gap: 16px;
  width: 100%;
}

#eth {
  grid-area: eth;
}
#alphabet {
  grid-area: alphabet;
}
#traveler {
  grid-area: traveler;
}
#astro {
  grid-area: astro;
}
#cube {
  grid-area: cube;
}
#cup {
  grid-area: cup;
}
#insta {
  grid-area: insta;
}
#foam {
  grid-area: foam;
}
#dimensional {
  grid-area: dimensional;
}

.project {
  /* width: 600px; */
  position: relative;
}

.project img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  font-size: 36px;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}
.project .overlay:hover{
  opacity: 1;
  cursor: pointer;
}
footer{
  padding: 64px;
  text-align: center;
}
@media only screen and (max-width: 1100px){
  .container{
    max-width: 100%;
  }
  .navbar{
    padding: 36px;
  }
  .images{
    max-width: 100%;
    grid-template-areas: "eth eth"
    "alphabet traveler"
    "astro cube"
    "insta insta"
    "cup foam"
    "dimensional dimensional";;
  }
}
@media only screen and (max-width: 750px){
  .container{
    max-width: 100%;
  }
  .navbar{
    padding: 12px;
  }
  .right{
    display: none;
  }
  .bar{
    display: block;
    z-index: 3;
  }
  .images{
    max-width: 100%;
    grid-template-areas: "eth eth"
    "alphabet"
    "traveler traveler"
    "astro cube"
    "insta insta"
    "cup cup"
    "foam foam"
    "dimensional dimensional";
  }
}

.animated-line1 {
  animation: load-bar1 1s forwards ;
}

.animated-line2 {
  animation: fade-bar 1s forwards ;
}

.animated-line3 {
  animation: load-bar3 1s forwards;
}

@keyframes load-bar1{
  from  {
    transform: rotate(0)
  }
  to{
    transform: rotate(45deg) translate(2px, 9px);
  }
}
@keyframes fade-bar{
  from  {
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes load-bar3{
  from  {
    transform: rotate(0)
  }
  to{
    transform: rotate(-45deg) translate(2px, -9px);
  }
}

