<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 boxes</title>
    <link rel="stylesheet" href="boxes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box one">
        <img class="image" src="https://img.icons8.com/?size=256&id=124195&format=png" alt="">
        <h2 class="title">Add your phone number</h2>
        <p class="paragraph">Make it easier for your friends to get in touch with you</p>
        <div class="buttons">
        <button>Not now</button>
        <button class="number">Add Number</button>
    </div>
    <div class="x"></div>

    </div>
    <div class="box two">
        <img class="image" src="https://img.icons8.com/?size=256&id=houGsYyNpCbu&format=png" alt="">
        <h2 class="title">Stay up to date with our hot news!</h2>
        <p class="paragraph">Get weekly updates on what's happening in the tech industry</p>
        <input type="email" placeholder="Enter your email address">
        <button>Subscribe</button>
        <div class="x"></div>
    </div>

    
</body>
</html>